### Integer = bilangan bulat

In [5]:
a = 10
b = -5

In [6]:
c = a + b
print(c)

5

### Float = bilangan decimal

In [11]:
d = 1.49
e = -3.523

f =  (d + e)
print(f)

-2.0330000000000004

### Complex = Bilangan Imajiner

In [14]:
g =1 + 2*a
print(g)

21

### Boolean = logika true,false/yes,no/0,1

In [15]:
Jokowi = True
Prabowo = False

### String = teks

In [17]:
Name = "Joko Widodo"
print(Name)

Joko Widodo

### List = urutan

In [1]:
#List untuk menympan teks
fruit = ["apple", "banana", "cherry"]
print(fruit)

['apple', 'banana', 'cherry']

In [21]:
# Value numerik
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

In [24]:
# mixed
mixed = [1, 'apple', 2.5, 'banana', True]
print ((mixed))

[1, 'apple', 2.5, 'banana', True]

### Range = Rentang

In [26]:
numbers = range (1,11)
print(list(numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
event = range(2, 21 ,2)
print(list(event))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### dictionary = pustaka

In [28]:
seseorang = { "name": "joko widodo", "age": 61, "city":"solo"
    
}

print(seseorang)

{'name': 'joko widodo', 'age': 61, 'city': 'solo'}

In [31]:
print (seseorang["name"])

joko widodo

### iMPORT DATA

In [46]:
import pandas as pd

data = pd.read_csv(r"C:\Users\Michael Zidane\Downloads\matana project\NBA Historical Player.csv")

print(data)

      Unnamed: 0       player_name team_abbreviation   age  player_height  \
0              0  Randy Livingston               HOU  22.0         193.04
1              1  Gaylon Nickerson               WAS  28.0         190.50
2              2      George Lynch               VAN  26.0         203.20
3              3    George McCloud               LAL  30.0         203.20
4              4      George Zidek               DEN  23.0         213.36
...          ...               ...               ...   ...            ...
12839      12839       Joel Embiid               PHI  29.0         213.36
12840      12840   John Butler Jr.               POR  20.0         213.36
12841      12841      John Collins               ATL  25.0         205.74
12842      12842      Jericho Sims               NYK  24.0         208.28
12843      12843    JaMychal Green               GSW  33.0         205.74

       player_weight                college   country draft_year draft_round  \
0          94.800728        Louisiana State       USA       1996           2
1          86.182480  Northwestern Oklahoma       USA       1994           2
2         103.418976         North Carolina       USA       1993           1
3         102.058200          Florida State       USA       1989           1
4         119.748288                   UCLA       USA       1995           1
...              ...                    ...       ...        ...         ...
12839     127.005760                 Kansas  Cameroon       2014           1
12840      86.182480          Florida State       USA  Undrafted   Undrafted
12841     102.511792            Wake Forest       USA       2017           1
12842     113.398000                  Texas       USA       2021           2
12843     102.965384                Alabama       USA  Undrafted   Undrafted

       ...   pts   reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
0      ...   3.9   1.5  2.4         0.3     0.042     0.071    0.169   0.487
1      ...   3.8   1.3  0.3         8.9     0.030     0.111    0.174   0.497
2      ...   8.3   6.4  1.9        -8.2     0.106     0.185    0.175   0.512
3      ...  10.2   2.8  1.7        -2.7     0.027     0.111    0.206   0.527
4      ...   2.8   1.7  0.3       -14.1     0.102     0.169    0.195   0.500
...    ...   ...   ...  ...         ...       ...       ...      ...     ...
12839  ...  33.1  10.2  4.2         8.8     0.057     0.243    0.370   0.655
12840  ...   2.4   0.9  0.6       -16.1     0.012     0.065    0.102   0.411
12841  ...  13.1   6.5  1.2        -0.2     0.035     0.180    0.168   0.593
12842  ...   3.4   4.7  0.5        -6.7     0.117     0.175    0.074   0.780
12843  ...   6.4   3.6  0.9        -8.2     0.087     0.164    0.169   0.650

       ast_pct   season
0        0.248  1996-97
1        0.043  1996-97
2        0.125  1996-97
3        0.125  1996-97
4        0.064  1996-97
...        ...      ...
12839    0.233  2022-23
12840    0.066  2022-23
12841    0.052  2022-23
12842    0.044  2022-23
12843    0.094  2022-23

[12844 rows x 22 columns]

### Membuat data frame

In [ ]:
# data frame dari dictionary
data_start = {
    "Name" : ["alice", "bob", "charlie"],
    "age" : [25, 30, 35],
    "city" :["new york", "los angels", "chigaco"]
}

df = pd.DataFrame(data_start)
print(df)

      Name  age        city
0    alice   25    new york
1      bob   30  los angels
2  charlie   35     chigaco

In [53]:
#data frame dari list
data_list = [
    ["David", 28, "Miami"],
    ["Eva", 22, "Seatle"],
    ["Frank", 33, "Boston"]
]

df_list = pd.DataFrame(data_list, columns=["Name", "Age", "City"])
print(df_list)

    Name  Age    City
0  David   28   Miami
1    Eva   22  Seatle
2  Frank   33  Boston

In [54]:
print (df_list.columns.to_list())

['Name', 'Age', 'City']

In [55]:
df_list.columns = ["Nama", "Umur", "Kota"]
print(df_list)

    Nama  Umur    Kota
0  David    28   Miami
1    Eva    22  Seatle
2  Frank    33  Boston

In [56]:
print(df_list["Nama"])

0    David
1      Eva
2    Frank
Name: Nama, dtype: str

In [57]:
print(df_list[["Nama", "Kota"]])

    Nama    Kota
0  David   Miami
1    Eva  Seatle
2  Frank  Boston

In [58]:
# menampilkan baris 

print(df_list.iloc[1-1]) # untuk baris pertama
print(df_list.iloc[2-1]) # untuk baris kedua

Nama    David
Umur       28
Kota    Miami
Name: 0, dtype: object
Nama       Eva
Umur        22
Kota    Seatle
Name: 1, dtype: object