<span style="color:green">Jumlah Kejadian Bencana Alam di Indonesia Tahun 2021</span>

In [1]:
print('''Data ini berisi tentang Jumlah kejadian bencana alam di indonesia tahun 2021 
memfokuskan 2 provinsi yaitu Aceh dan Sumatera utara ,tujuan ingin fokus membandingkan dua provinsi yang terdampak paling parah
bencana alam pada tahun 2025 menggunakan data sebelumnya yaitu tahun 2021''')

print("Sumber data: " )
print("https://www.bps.go.id/id/statistics-table/3/TUZaMGVteFVjSEJ4T1RCMlIyRjRTazVvVDJocVFUMDkjMw==/jumlah-bencana-alam-menurut-provinsi-dan-jenis-bencana-alam--kejadian---2021.html?year=2021")

Data ini berisi tentang Jumlah kejadian bencana alam di indonesia tahun 2021
memfokuskan 2 provinsi yaitu Aceh dan Sumatera utara ,tujuan ingin fokus membandingkan dua provinsi yang terdampak paling parah
bencana alam pada tahun 2025 menggunakan data sebelumnya yaitu tahun 2021
Sumber data:
https://www.bps.go.id/id/statistics-table/3/TUZaMGVteFVjSEJ4T1RCMlIyRjRTazVvVDJocVFUMDkjMw==/jumlah-bencana-alam-menurut-provinsi-dan-jenis-bencana-alam--kejadian---2021.html?year=2021

<span style="color:blue">Import data dan Preview data</span>

In [ ]:
import pandas as pd #mengimport module pandas untuk manipulasi data
import openpyxl as op # menimport module openpyxl untuk membaca file exel

data =pd.read_excel(r"C:\Users\Michael Zidane\Downloads\matana project\Jumlah Kejadian Bencana Alam Menurut Provinsi 2021 new version.xlsx") # mengimport file excel ke jupyternotebook
df = pd.DataFrame(data) #membuat data frame

df.iloc[:, 0:5] #menampilkan preview data

,Provinsi,Tanah Longsor,Banjir,Kebakaran Hutan dan Lahan,Cuaca Ekstrem
0,Aceh,11.0,100.0,77.0,91.0
1,Sumatera Utara,23.0,83.0,13.0,54.0
2,Sumatera Barat,18.0,58.0,16.0,118.0
3,Riau,7.0,67.0,44.0,24.0
4,Jambi,11.0,37.0,24.0,24.0
5,Sumatera Selatan,4.0,39.0,24.0,24.0
6,Bengkulu,9.0,25.0,0.0,11.0
7,Lampung,5.0,25.0,0.0,46.0
8,Kepulauan Bangka Belitung,2.0,15.0,10.0,13.0
9,Kepulauan Riau,5.0,14.0,79.0,6.0
10,DKI Jakarta,14.0,20.0,0.0,16.0
11,Jawa Barat,613.0,247.0,14.0,478.0
12,Jawa Tengah,238.0,153.0,13.0,206.0
13,DI Yogyakarta,17.0,6.0,0.0,2.0
14,Jawa Timur,76.0,149.0,8.0,122.0
15,Banten,14.0,57.0,3.0,39.0
16,Bali,63.0,13.0,1.0,8.0
17,Nusa Tenggara Barat,10.0,79.0,0.0,17.0
18,Nusa Tenggara Timur,24.0,59.0,1.0,28.0
19,Kalimantan Barat,4.0,45.0,10.0,9.0
20,Kalimantan Tengah,0.0,0.0,0.0,0.0
21,Kalimantan Selatan,12.0,62.0,165.0,32.0
22,Kalimantan Timur,46.0,36.0,29.0,7.0
23,Kalimantan Utara,32.0,16.0,8.0,3.0
24,Sulawesi Utara,3.0,23.0,1.0,13.0
25,Sulawesi Tengah,4.0,96.0,0.0,36.0
26,Sulawesi Selatan,24.0,68.0,0.0,90.0
27,Sulawesi Tenggara,8.0,38.0,0.0,21.0
28,Gorontalo,7.0,22.0,0.0,10.0
29,Sulawesi Barat,4.0,23.0,0.0,9.0
30,Maluku,14.0,23.0,0.0,19.0
31,Maluku Utara,2.0,20.0,0.0,10.0
32,Papua Barat,1.0,5.0,1.0,1.0
33,Papua,1.0,20.0,0.0,3.0
34,NaN,NaN,NaN,NaN,NaN

<span style="color:pink">Split data menggunakan illoc</span>

In [ ]:
print("")
print("Split data Provinsi  Aceh")
print("")

data_split1 = df.iloc[0:1, 0:5]

print(data_split1)
print("")
print("Split data Provinsi Sumatera Utara")
print("")


data_split2 = df.iloc[1:2, 0:5]
print(data_split2)



data_split1.index = data_split2.index

Split data Provinsi Sumatera Aceh

  Provinsi   Tanah Longsor   Banjir   Kebakaran Hutan dan Lahan  Cuaca Ekstrem
0     Aceh            11.0    100.0                        77.0           91.0

Split data Provinsi Sumatera Utara

         Provinsi   Tanah Longsor   Banjir   Kebakaran Hutan dan Lahan  \
1  Sumatera Utara            23.0     83.0                        13.0

   Cuaca Ekstrem
1           54.0

<span style="color:red">Merge Data</span>

In [83]:
df_merge = pd.merge(data_split1, data_split2, 
                    left_index=True, 
                    right_index=True , suffixes=('_Aceh','_Sumut'))

print("")
print("Hasil Merge")
print("")
print(df_merge)

Hasil Merge

  Provinsi_Aceh   Tanah Longsor_Aceh   Banjir_Aceh  \
1          Aceh                 11.0         100.0

    Kebakaran Hutan dan Lahan_Aceh  Cuaca Ekstrem_Aceh  Provinsi_Sumut  \
1                             77.0                91.0  Sumatera Utara

    Tanah Longsor_Sumut   Banjir_Sumut   Kebakaran Hutan dan Lahan_Sumut  \
1                  23.0           83.0                              13.0

   Cuaca Ekstrem_Sumut
1                 54.0

<span style="color:yellow">Export To csv</span>

In [90]:
df_merge.to_csv('output_csv.csv', sep=";", index=False)

<span style="color:orange">Export to xlsx</span>

In [89]:
df_merge.to_excel('output_excel.xlsx', index=False)